@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: #ffffff;
  --onSurface: #171717;
  --primary: #005482;
  --secondary: #40627E;
  --tertiary: #912E00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: #0a0a0a;
    --onSurface: #ededed;
    --primary: #93CCFF;
    --secondary: #A8CAEB;
    --tertiary: #FFB59B;
  }
}

* {
  /* @apply font-[family-name:var(--font-geist-sans)] */
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: var(--onSurface);
  background: var(--surface); */
}

code {
  /* @apply font-[family-name:var(--font-geist-mono)] */
}

.root-container {
  @apply flex justify-center
}

.root-wrapper {
  @apply w-full sm:w-[90%]
}

.root-wrapper-lg {
  @apply w-full sm:w-[1024px]
}

.root-wrapper-md {
  @apply w-full sm:w-[768px]
}

.root-wrapper-sm {
  @apply w-full sm:w-[480px]
}

.flex-center-between {
  @apply flex items-center justify-between
}

.flex-center-center {
  @apply flex items-center justify-center
}

.flex-center-end {
  @apply flex items-center justify-end
}

.flex-col-center {
  @apply flex flex-col items-center
}

.btn-outline {
  @apply border border-mutedBorder rounded-xl py-3 px-4 text-sm bg-transparent hover:border-black hover:bg-gray-100 flex items-center gap-2
}

.ghost-hover {
  @apply bg-transparent hover:bg-gray-100 hover:text-inherit rounded-full cursor-pointer
}