@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: #ffffff;
  --onSurface: #171717;
  --primary: #005482;
  --secondary: #40627E;
  --tertiary: #912E00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: #0a0a0a;
    --onSurface: #ededed;
    --primary: #93CCFF;
    --secondary: #A8CAEB;
    --tertiary: #FFB59B;
  }
}




* {
  /* @apply font-[family-name:var(--font-geist-sans)] */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

code {
  /* @apply font-[family-name:var(--font-geist-mono)] */
}