@import './container.css';
@import './typography.css';
@import './form.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply font-[family-name:var(--font-geist-sans)]
}

html {
  scroll-behavior: smooth;
}

i,
em,
var,
address {
  font-style: normal;
}

label {
  cursor: pointer;
}

input,
select,
textarea,
button {
  outline: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}